* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 300px;
  height: fit-content;
  background-color: #ffff;
  padding: 20px;
  margin-top: 40px;
  border-radius: 6px;
  box-shadow: 0 0 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

button {
  background: #02dbca;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #02baca;
}
