* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  height: fit-content;
  padding: 20px;
  background-color: #ffffff00;
  border-radius: 6px;
  box-shadow: 0 0 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #3ac6b1;
  border-radius: 4px;
}

.form-element {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.checkbox-contaner {
  display: flex;
  width: 100%;
}

button {
  width: 100%;
  background: #dbd002;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #2002ca;
}

.check {
  width: fit-content;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
